.Title{
  margin-top: 5rem;
  color: #613D2B;
  font-weight: 700;
  font-size: 1.7rem;
}
.Image{
  margin-top: 2.5rem;
  object-fit: cover;
  width: 80% !important;
  height: 90% !important;
}
.Form{
  padding-right: 50px;
}
.FormInput{
  background-color: #613D2B40 !important;
  border: 2px solid #613D2B !important;
  margin-bottom: 30px;
  padding: 5px 10px;
}
.Attach{
  background-color: #613D2B40 !important;
  border: 2px solid #613D2B !important;
  padding: 3px 10px;
  border-radius: 5px;
}
.Add{
  background-color: #613D2B !important;
  margin-left: 28%;
  width: 50%;
}